.box{
	position: relative;
	max-width: 1640px;
	width: 100%
}


.logo{
	position: absolute;
	left: 50px;
	top: 50px;
}

.navli1{
	position: absolute;
	left: 850px;
	top: 70px;
	font-size: 20px;
}


.navli2{
	position: absolute;
	left: 1050px;
	top: 70px;
	font-size: 20px;
}

.navli3{
	position: absolute;
	left: 1200px;
	top: 70px;
	font-size: 20px;
}

.navli4{
	position: absolute;
	left: 1350px;
	top: 70px;
	font-size: 20px;
}


.search{
	width: 25px;
	height: 25px;
	margin-left: 1450px;
	margin-top: 70px;
}


.img1{
	width: 1640px;
	height: 613px;
	margin-left: 50px;
 	margin-top: 100px;
}


.body1{
	max-width: 1640px;
	width: 100%;
}

.h1edit{
	font-size: 40px;
	margin-left: 50px;
	margin-top: 60px;
}

.imgedit{
	width: 483px;
	height: 282px;
	margin-top: 160px;
	margin-left: 50px;
}

.imgedit2{
	width: 483px;
	height: 282px;
	margin-top: 160px;
	margin-left: 50px;
}